<mat-toolbar>

<mat-icon>home</mat-icon>
  <span class="logo">
    RoomFindr
  </span>

  <span class="spacer"></span>

  <a mat-button
     routerLink="/"
     routerLinkActive="active">
    Home
  </a>

  <a mat-button
     routerLink="/swipe"
     routerLinkActive="active">
    Zoeken
  </a>

  <a mat-button
     routerLink="/rooms"
     routerLinkActive="active">
    Aanbieden
  </a>

  <a mat-button
     routerLink="/matches"
     routerLinkActive="active">
    Matches
  </a>

  <a mat-button
     routerLink="/profile"
     routerLinkActive="active">
    Profiel
  </a>

  <a mat-button
     routerLink="/likes"
     routerLinkActive="active">
    Likes
  </a>

  <a mat-button
     routerLink="/dislikes"
     routerLinkActive="active">
    Dislikes
  </a>

</mat-toolbar>
