<article
class="rf-room-card"
rfSwipe
(positionChange)="onPositionChange($event)"
(swipeRight)="swipeRight.emit()"
(swipeLeft)="swipeLeft.emit()"
[style.transform]="'translateX(' + positionX + 'px)'"
 >

  <img
    class="rf-room-card__image"
    [src]="room().imageUrl"
    [alt]="room().title">

  <div class="rf-room-card__content">

    <h2>{{ room().title }}</h2>

    <p class="rf-room-card__location">
      📍 {{ room().city }}
    </p>

    <p class="rf-room-card__price">
      € {{ room().price }} / maand
    </p>

    <p class="rf-room-card__available">
      Beschikbaar vanaf {{ room().availableFrom }}
    </p>

    <p class="rf-room-card__description">
      {{ room().description }}
    </p>

  </div>

</article>
